* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

.search-bar {
  background-color: #d4dcff;
  width: 20vw;
  height: 100vh;
  overflow: scroll;
}

.search-button {
  width: 100%;
}

.connection {
  width: 100%;
  height: max-content;
  padding: 10px;
  background-color: #007FFF;
  justify-content: space-between;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.station-list {
  width: 50%;
  overflow: scroll;
}

.station {
  padding: 10px;
}

.connection-list {
  width: 80vw;
  height: 100vh;
  overflow: scroll;
}

.form {
  margin: 20px;
  overflow: scroll;
}